<a href="https://colab.research.google.com/github/dasnisha09/Numerical_data_convertion/blob/main/numerical_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from google.colab import drive
import pandas as pd

In [20]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
file_path = '/content/drive/MyDrive/numerical data task/playtennis.csv'

In [25]:
# Load the dataset
df = pd.read_csv('/content/drive/MyDrive/numerical data task/playtennis.csv')
print(df)

    Day   Outlook Temperature Humidity    Wind PlayTennis
0    D1     Sunny         Hot     High    Weak         No
1    D2     Sunny         Hot     High  Strong         No
2    D3  Overcast         Hot     High    Weak        Yes
3    D4      Rain        Mild     High    Weak        Yes
4    D5      Rain        Cool   Normal    Weak        Yes
5    D6      Rain        Cool   Normal  Strong         No
6    D7  Overcast        Cool   Normal  Strong        Yes
7    D8     Sunny        Mild     High    Weak         No
8    D9     Sunny        Cool   Normal    Weak        Yes
9   D10      Rain        Mild   Normal    Weak        Yes
10  D11     Sunny        Mild   Normal  Strong        Yes
11  D12  Overcast        Mild     High  Strong        Yes
12  D13  Overcast         Hot   Normal    Weak        Yes
13  D14      Rain        Mild     High  Strong         No

In [33]:
df_encoded = pd.get_dummies(df, columns=['Outlook', 'Temperature', 'Humidity', 'Wind'], drop_first=True)


# Convert 'PlayTennis' column to numerical values (Yes: 1, No: 0)
df_encoded['PlayTennis'] = df_encoded['PlayTennis'].map({'Yes': 1, 'No': 0})


# Display the resulting dataframe

print(df_encoded)

    Day  PlayTennis  Outlook_2  Outlook_3  Temperature_2  Temperature_3  \
0    D1           0          0          0              0              0
1    D2           0          0          0              0              0
2    D3           1          1          0              0              0
3    D4           1          0          1              1              0
4    D5           1          0          1              0              1
5    D6           0          0          1              0              1
6    D7           1          1          0              0              1
7    D8           0          0          0              1              0
8    D9           1          0          0              0              1
9   D10           1          0          1              1              0
10  D11           1          0          0              1              0
11  D12           1          1          0              1              0
12  D13           1          1          0              0              0
13  D14           0          0          1              1              0

    Humidity_2  Wind_2
0            0       0
1            0       1
2            0       0
3            0       0
4            1       0
5            1       1
6            1       1
7            0       0
8            1       0
9            1       0
10           1       1
11           0       1
12           1       0
13           0       1